ul, li {
  margin: 0;
  pad: 0;
  color: aliceblue;
  
}
nav {
  height: 80px;
  background-color: #D1D1D1;
  display: flex;
  padding: 0.5rem;
  z-index: 99;
}

.flex-start {
  justify-content: flex-start;
}

.flex-end {
  justify-content: flex-end;
}

nav > .nav-items {
  z-index: 99;
}

nav > .nav-items > ul {
  align-items: center;
  position: relative;
}

nav > .nav-items > ul > li {
  display: inline-block;
  text-transform: capitalize;
  position: relative;
}

nav > .nav-items > ul > li > a {
  color: white;
  display: block;
  letter-spacing: 0.12rem;
  overflow: hidden;
  position: relative;
  text-decoration: none;
  
}

nav > .nav-items > ul > li:not(.logo) > a {
  margin: 0 0.5rem;
  padding: 0.5em 1em;
}


